<!DOCTYPE html>
<html lang="de">

    <head>	
	
		<% include partials/head %>	
        <title>FWmonitor - APP</title>	
		
    </head>
	
    <body class="bodybg">
		
		<!-- HEADER -->
         <div class="header red-600">
            <button class="left icon icon ion-navicon-round" name="button" onclick="openMenu('leftMenu')"></button>
			<h1>FWmonitor - APP</h1>
			
			<div class="right">
				<img id="index_AGT" class="avatar hidden" src="/images/AGT.png" />
				<img id="index_MA" class="avatar hidden" src="/images/MA.png" />
				<img id="index_GRF" class="avatar hidden" src="/images/GRF.png" />
				<img id="index_ZUGF" class="avatar hidden" src="/images/ZUGF.png" />
			</div>
        </div>		
			 
		<!-- MENÜ -->
		<div class="menu red-300" id="leftMenu">
			<div class="cover align-center red-600 border-bottom-white">
				<div class="space"></div>
				<img class="avatar circle border-white shadow" src="/icons/icon-384x384.png" style="width: 30%"/>
				<h1 class="">FWmonitor APP</h1>
				<% if(data["nurLAN"] == "1") { %>  
					<h1 class="">LAN Modus -> Nur Einstellungen</h1>
				<% } %>
				<div class="space"></div>
			</div>
			<% if(data["nurLAN"] == "0") { %>  
			<% } %>
			<button class="red-600 full border-bottom-white" onclick="openPage('filesHTTPS/kalender', null, kalender_loadKalender)" >Kalender</button>
			<button class="red-600 full border-bottom-white" onclick="openPage('filesHTTPS/alarmList', -5, alteAlarme_loadAlarm)">Letzte Einsätze</button>
			<button class="red-600 full border-bottom-white" onclick="openPage('filesHTTPS/statistik', null, statistik_loadStatistik)">Statistik</button>
			<button class="red-600 full border-bottom-white" onclick="openPage('filesHTTPS/verfuegbarkeit', null, verfuegbarkeit_load)">Verfügbarkeit</button>
			<button class="red-600 full border-bottom-white" onclick="openPage('filesHTTPS/hydrantenkarte', null, hydrantenkarte_load)">Hydrantenkarte</button>
			<button class="red-600 full" onclick="openPage('filesHTTPS/einstellungen', null, einstellungen_load)">Einstellungen</button>
			
			<% if(data["admin"] == "1") { %>  
				<p class="align-center">Administrator Bereich</p>
				<button class="red-600 full border-top-white" onclick="openPage('filesHTTPS/benutzer', null, benutzer_loadBenutzer)">Benutzer</button>
				<button class="red-600 full border-top-white" onclick="openPage('filesHTTPS/kalenderGruppen', null, kalendergruppen_loadGruppen)">Kalendergruppen</button>
				<button class="red-600 full border-top-white" onclick="openPage('filesHTTPS/alarmGruppen', null, alarmgruppen_loadGruppen)">Alarmgruppen</button>
				<button class="red-600 full border-top-white" onclick="openPage('filesHTTPS/alarmierung', null, alarmierung_load)">Alarmierung</button>
				<button class="red-600 full border-top-white" onclick="openPage('filesHTTPS/clients', null, clients_load)">Verb. Geräte</button>
				<button class="red-600 full border-top-white" onclick="openPage('filesHTTPS/praesentation', null, praesentation_load)">Präsentation</button>
				<button class="red-600 full border-top-white" onclick="openPage('filesHTTPS/slideshow', null, diashow_load)">Diashowbilder</button>
				<p></p>
			<% } %>
			<button class="red-600 full border-top-white" onclick="window.location.replace('/app/api/logout');">Abmelden</button>
		</div>

		<!-- CONTENT -->
        <div class="content padding has-header">
		
			<div class="space"></div>

			<% if(data["nurLAN"] == "1") { %>  
				<h1  class="text-big">LAN Modus -> Nur Einstellungen</h1>
				<h1  class="text-big">Verbindung ist nicht sicher. Falls Zugriff über das Internet erfolgt, ist etwas falsch eingestellt.
					Falls Zugriff im LAN über Link in Einstellungen erfolgt ist alles OK.
				</h1>
			<% } %>
			
			<% if(data["nurLAN"] == "0") { %>  			

			<% if(data["alarm"] == "true") { %>  
				<button class="blue-700 full" onclick="openPage('filesHTTPS/alarm', <%= data["alarmID"] %>, alarm_loadAlarm)">
					Aktuellen Einsatz öffnen
				</button>
			<% } %>

			
			<h1 class="text-big">Verfügbarkeit:</h1>
			<div class="padding border-grey-300 row">
				<div class="col-20">
					<div style="display:table; height: 100%;">
						<h2 style="display:table-cell; vertical-align: middle;">Status:</h2>
					</div>
				</div>
				<div class="col-34">
					<div style="display:table; height: 100%;" class="align-center">
						<h2 id="index_status_verf" class="" style="display:table-cell; vertical-align: middle; padding-left:1em; padding-right:1em;">
							{{STATUS}}
						</h2>
					</div>
				</div>
				
				<button class="col red-600 border-red-300 radius" onclick="openPage('filesHTTPS/verfuegbarkeit', null, verfuegbarkeit_load)">
					Ändern
				</button>
			</div>	
			
			<div class="space"></div>	

			<% } %>
			
			<h1 class="text-big">Kalender</h1>		
			<div class="row">			
				<div class="list">

					<h2 class="item">Nächster Termin:</h2>	
					
					<div id="index_kalender">	
					</div>
					
					<div class="padding">
						<button class="item red-600 border-grey-200 radius small" onclick="openPage('filesHTTPS/kalender', null, kalender_loadKalender)">
							Kalender Öffnen
						</button>
					</div>
				</div>
			</div>
			<div class="space"></div>	
<!--
			<input id="file" type="file" accept="image/*">
-->		
		</div>

	  
		<!-- JS -->
		<% include partials/foot %>			
		<script>
			const TELEGRAMID = <%= data["telegramID"] %>;
			const KALENDER = <%= data["kalender"] %>;
			const FWVV = <%= data["fwvv"] %>;

			function isIos() {
				return [
					'iPad Simulator',
					'iPhone Simulator',
					'iPod Simulator',
					'iPad',
					'iPhone',
					'iPod'
				].includes(navigator.platform)
				// iPad on iOS 13 detection
				|| (navigator.userAgent.includes("Mac") && "ontouchend" in document)
			}

			// Detects if device is in standalone mode
			const isInStandaloneMode = () => ('standalone' in window.navigator) && (window.navigator.standalone);	

			var userAgent = window.navigator.userAgent.toLowerCase();
			var safari = /safari/.test( userAgent );
			
		</script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>		
		<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>
		
		<script src="/app/appClient.js"></script>	
		<script src="filesHTTPS/javascripts/appMain.js"></script>	
		<script src="/javascripts/calendar.js"></script>			
    
		<script>

			var firststart = true;
		//	setTimeout(function() { 
		//		firststart = false;			
		//	}, 1000);
		
			let h = parseInt(location.hash.substring(1));
			if(h != 0)
				history.pushState({}, 'Start', '#0')
	
		
			window.onload = function () {
				console.log('Dokument geladen');
				index_loadKalender();
				index_loadStatus();	
				firststart = false;	

				<% if(data["alarm"] == "true") { %>  
					openPage('filesHTTPS/alarm', <%= data["alarmID"] %>, alarm_loadAlarm);
				<% } %>
			}			
			document.addEventListener("visibilitychange", function() {
				if (document.visibilityState === 'visible' && !firststart) {
					console.log("open");	
					index_loadKalender();	
					index_loadStatus();		
				//	<% if(data["nurLAN"] == "0") { %> 
				//		index_loadStatus();		
				//	<% } %>
				} else {
					console.log("close");
				}
			});

			<% if(data["nurLAN"] == "0") { %>  					

				// ----------------  ProgressivWebApp ---------------- 

				// Checks if should display install popup notification:
				if (isIos() && !isInStandaloneMode()) {
					setTimeout(function() { 
						if ( safari ) {
							alert({
								title:'App Installation',
								message:'Unten in der Mitte auf ⬆️ drücken. <br> Dann ➕ "Zum Home-Bildschirm drücken. (Wenn nicht verfügbar:  Unten in auf ganz rechts Symbol in Safari öffnen klicken. ODER: URL kopieren und in Safari direkt öffnen.)"',
								class:'',
								buttons:[
									{
										label: 'Schließen',
										class:'green-900',
										onclick: function () {	
											closeAlert();		
										}									
									}
								]
							});
						} else if ( !safari ) {
							alert({
								title:'App Installation',
								message:'Unten in auf ganz rechts Symbol in Safari öffnen klicken. (Wenn nicht verfügbar: URL kopieren und in Safari direkt öffnen.)"',
								class:'',
								buttons:[
									{
										label: 'Schließen',
										class:'green-900',
										onclick: function () {	
											closeAlert();		
										}									
									}
								]
							});
						};						
					}, 1000);
				} else {	
					
					var deferredPrompt;

					var pwa_install = function() {						
						// Show the prompt
						deferredPrompt.prompt();
						// Wait for the user to respond to the prompt
						deferredPrompt.userChoice.then((choiceResult) => {
							if (choiceResult.outcome === 'accepted') {
							console.log('User accepted the A2HS prompt');
							} else {
							console.log('User dismissed the A2HS prompt');
							}
							deferredPrompt = null;
						});
					}
					
					window.addEventListener('beforeinstallprompt', (e) => {
						//askPermission();

						// Prevent Chrome 67 and earlier from automatically showing the prompt
						e.preventDefault();
						// Stash the event so it can be triggered later.
						deferredPrompt = e;

						setTimeout(function(){ 

							alert({
								title:'App Installation',
								message:'App installieren?',
								class:'',
								buttons:[
									{
										label: 'Ja',
										class:'green-900',
										onclick: function () {	
											closeAlert();	
											pwa_install();		
										}									
									},
									{
										label:'Nein',
										class:'red-800',
										onclick: function () {
											closeAlert();
										}
									}
								]
							});

						}, 2000);	
					});

				}


			<% } %>			

		</script>
		
    </body>
	
</html>