<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Titel</title>
    
        <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/einstellungen.css">
		
		<script src="javascripts/jquery.js"></script>

    </head>
    <body>
         <header>
            <div id="menu">
                <ul>
                  <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">MENÜ</a>
                    <div class="dropdown-content">
                      <a href="/">Standby</a>
                      <a onclick="alert('F11 drücken')">Vollbild</a>
                    </div>
                  </li>
                </ul>
            </div>
            <div id="time">--:--:-- - --.--.----</div>
        </header>

        <div id="main_content">
        
			<h3>Benutzer</h3>
			<div style="overflow-x:auto;">
				  <table>
					<tr>
						<th>Name</th>
						<th>Telegram Gruppe</th>
						<th>Maschinist</th>
						<th>Atemschutz</th>
						<th>Gruppenführer</th>
						<th>Zugführer</th>
						<th></th>
					 </tr>

					  <% for(i in data["users"]) { %>
						<tr>
							<td><%= data["users"][i][1] %></td>
							<td class="group" data-id="<%= data["users"][i][0] %>"><%= data["users"][i][2] %> </td>
							<td class="stMA" data-id="<%= data["users"][i][0] %>"><%= data["users"][i][4] %> </td>
							<td class="stAGT" data-id="<%= data["users"][i][0] %>"><%= data["users"][i][5] %> </td>
							<td class="stGRF" data-id="<%= data["users"][i][0] %>"><%= data["users"][i][6] %> </td>
							<td class="stZUGF" data-id="<%= data["users"][i][0] %>"><%= data["users"][i][7] %> </td>
							<td class="allowed" data-id="<%= data["users"][i][0] %>"><%= data["users"][i][3] %> </td>
						</tr>
					  <% } %>
					 
				  </table>
			</div>

			<h3>Gruppen</h3>
			<div style="overflow-x:auto;">
				<table>
					<tr>
						<th>Name</th>
						<th>Pattern</th>	
						<th></th>	
					 </tr>
					 <% for(i in data["groups"]) { %>
						<tr>
							<td><%= data["groups"][i][1] %></td>
							<td class="pattern" data-id="<%= data["groups"][i][0] %>"><%= data["groups"][i][2] %> </td>
							<td><a href="javascript:savePattern(<%= data["groups"][i][0] %>)" class="button">speichern</a></td>
						</tr>
					 <% } %>
				</table>
			</div>

			<p>Pattern: {{newline}} , {{EINSATZSTICHWORT}} , {{SCHLAGWORT}} , {{OBJEKT}} , {{STRASSE}} , {{ORTSTEIL}} , {{ORT}} , {{BEMERKUNG}} , {{EINSATZMITTEL_EIGEN}} , {{EINSATZMITTEL_ANDERE}} ,
				{{FAX}} , {{KARTE}} , {{KARTE_EMG}}
			</p>
			<p>Markup: Kursiv: _Kursivertext_ , Fett: *Fettertext*</p>
			
			<h3>Statistik</h3>
			<div style="overflow-x:auto;">
				<table>
					<tr>
						<th>Statistik</th>
						<th>Nutzer (Aufrufe)</th>
						<th></th>		
					  </tr>
					<tr>
						<td>Kalender (31d)</td>
						<td class=""><%= data["statistikKalender31"] %></td>
						<td></td>
					</tr>
					<tr>
						<td>Kalender (365d)</td>
						<td class=""><%= data["statistikKalender365"] %></td>
						<td></td>
					</tr>
					<tr>
						<td>Kalender Erinnerungen</td>
						<td class=""><%= data["statistikErinnerungen"] %></td>
						<td></td>
					</tr>
					<tr>
						<td>Zeige Verfügbarkeiten (31d)</td>
						<td class=""><%= data["statistikVerfZeige31"] %></td>
						<td></td>
					</tr>
					<tr>
						<td>Zeige Verfügbarkeiten (365d)</td>
						<td class=""><%= data["statistikVerfZeige365"] %></td>
						<td></td>
					</tr>
					<tr>
						<td>Änderung Verfügbarkeit (31d)</td>
						<td class=""><%= data["statistikVerfSetze31"] %></td>
						<td></td>
					</tr>
					<tr>
						<td>Änderung Verfügbarkeit (365d)</td>
						<td class=""><%= data["statistikVerfSetze365"] %></td>
						<td></td>
					</tr>
				</table>
			</div>
		
			<h3>Nachricht an alle (durch Bot)</h3>
			<div style="overflow-x:auto;">
				<table>
					<tr>
						<th>Markupinfo</th>
						<th>Nachricht</th>
						<th></th>		
					  </tr>
					<tr>
						<td>Fett: *Fettertext* <br> Kursiv: _Kursivertext_</td>
						<td class=""> <textarea name='messagedata' id='messagedata' rows='10' cols='60'></textarea> </td>
						<td><a href="javascript:sendMessage()" class="button">senden</a></td>
					</tr>
				</table>
			</div>
			
			<br><br>
		
		</div>
        
        <script>
		
			var parts = window.location.search.substr(1).split("&");
			var $_GET = {};
			for (var i = 0; i < parts.length; i++) {
				var temp = parts[i].split("=");
				$_GET[decodeURIComponent(temp[0])] = decodeURIComponent(temp[1]);
			}
			
			document.addEventListener('DOMContentLoaded', (event) => {
				if($_GET['scroll'] != undefined) {
					window.scrollTo(0, $_GET['scroll']); // values are x,y-offset
				}
			})
			
			
			function sendMessage() {
				var msg = document.getElementById("messagedata").value;
				
				if (msg == "") return;
				
				var r = confirm("Nachricht senden?");
				if (r == true) {
					window.location.href = "/msgtoall?msg="+msg.replace(/\n/g, '<br>');
				}
				
			}
			

			function savePattern(id) {
				var pattern = document.getElementById("pattern_"+id).value;
				window.location.href = "/changePattern?" + 'id=' + id + '&pattern='+pattern.replace(/\n/g, '<br>');
			}

			function setSelectedOption(sel,id){
				var opt;
				for ( var i = 0, len = sel.options.length; i < len; i++ ) {
					opt = sel.options[i];
					if ( id == i ) {
					opt.selected = true;
						break;
					}
				}
				return opt;
			}

			function getSelectedOption(sel) {
				var opt;
				for ( var i = 0, len = sel.options.length; i < len; i++ ) {
					opt = sel.options[i];
					if ( opt.selected === true ) {
						break;
					}
				}
				return opt;
			}
			
			// Gruppenpattern
			var x = document.getElementsByClassName("pattern")
			console.log(x);
			for (index = 0; index < x.length; ++index) {
				var element = x[index];
			  element.innerHTML = "<textarea name='pattern' id='pattern_"+element.dataset.id+"' rows='10' cols='60'>" + element.innerHTML + "</textarea>";
			};

			// Person allowed
			x = document.getElementsByClassName("allowed")
			console.log(x);
			for (index = 0; index < x.length; ++index) {
				var element = x[index];
				if(element.innerHTML != 1)
					element.innerHTML = "<a href='del?id="+element.dataset.id+"' class='button'>löschen</a> / <a href='aktiv?id="+element.dataset.id+"' class='button'>aktivieren</a>";
				else
					element.innerHTML = "<a href='del?id="+element.dataset.id+"' class='button'>löschen</a>";
			};

			// Person group
			x = document.getElementsByClassName("group")
			console.log(x);
			for (index = 0; index < x.length; ++index) {
				var element = x[index];
				var group = element.innerHTML;

					element.innerHTML = "<select name='group' id='group_"+element.dataset.id+"' data-id='"+element.dataset.id+"'><option value='0'>standard</option><option value='1'>gruppe_1</option><option value='2'>gruppe_2</option><option value='3'>gruppe_3</option><option value='4'>gruppe_4</option></select>";
			
				setSelectedOption( document.getElementById("group_"+element.dataset.id), group-1);

				document.getElementById("group_"+element.dataset.id).onchange = function () {
				var groupid = getSelectedOption(this);

				   window.location.href = "/changeGroup?" + 'id=' + this.dataset.id + '&group='+this.value + '&scroll=' + window.scrollY;
				}
			};
			
			// Person maschinist
			x = document.getElementsByClassName("stMA")
			console.log(x);
			for (index = 0; index < x.length; ++index) {
				var element = x[index];
				if(element.innerHTML != 1)
					element.innerHTML = "<input id='stMA_"+element.dataset.id+"' type='checkbox' name='stMA' value='"+element.dataset.id+"'>";
				else
					element.innerHTML = "<input id='stMA_"+element.dataset.id+"' type='checkbox' name='stMA' value='"+element.dataset.id+"' checked>";
			};
			
			// Person atemschutz
			x = document.getElementsByClassName("stAGT")
			console.log(x);
			for (index = 0; index < x.length; ++index) {
				var element = x[index];
				if(element.innerHTML != 1)
					element.innerHTML = "<input id='stAGT_"+element.dataset.id+"' type='checkbox' name='stAGT' value='"+element.dataset.id+"'>";
				else
					element.innerHTML = "<input id='stAGT_"+element.dataset.id+"' type='checkbox' name='stAGT' value='"+element.dataset.id+"' checked>";
			};
			
			// Person gruppenführer
			x = document.getElementsByClassName("stGRF")
			console.log(x);
			for (index = 0; index < x.length; ++index) {
				var element = x[index];
				if(element.innerHTML != 1)
					element.innerHTML = "<input id='stGRF_"+element.dataset.id+"' type='checkbox' name='stGRF' value='"+element.dataset.id+"'>";
				else
					element.innerHTML = "<input id='stGRF_"+element.dataset.id+"' type='checkbox' name='stGRF' value='"+element.dataset.id+"' checked>";
			};
			
			// Person zugführer
			x = document.getElementsByClassName("stZUGF")
			console.log(x);
			for (index = 0; index < x.length; ++index) {
				var element = x[index];
				if(element.innerHTML != 1)
					element.innerHTML = "<input id='stZUGF_"+element.dataset.id+"' type='checkbox' name='stZUGF' value='"+element.dataset.id+"'>";
				else
					element.innerHTML = "<input id='stZUGF_"+element.dataset.id+"' type='checkbox' name='stZUGF' value='"+element.dataset.id+"' checked>";
			};
			
			var checkboxes = document.querySelectorAll('input[type=checkbox]'),
				checkboxArray = Array.from( checkboxes );

			function confirmCheck() {
				if(this.name == "stAGT")
					window.location.href = "/changeAGT?" + 'id=' + this.value + '&value='+(this.checked==true?1:0) + '&scroll=' + window.scrollY;
				if(this.name == "stMA")
					window.location.href = "/changeMA?" + 'id=' + this.value + '&value='+(this.checked==true?1:0) + '&scroll=' + window.scrollY;
				if(this.name == "stGRF")
					window.location.href = "/changeGRF?" + 'id=' + this.value + '&value='+(this.checked==true?1:0) + '&scroll=' + window.scrollY;
				if(this.name == "stZUGF")
					window.location.href = "/changeZUGF?" + 'id=' + this.value + '&value='+(this.checked==true?1:0) + '&scroll=' + window.scrollY;
			}

			checkboxArray.forEach(function(checkbox) {
			  checkbox.addEventListener('change', confirmCheck);
			});
		
            setInterval(() => {
                var d = new Date();
                var options = {  year: 'numeric', month: '2-digit', day: '2-digit' };
				var time = d.toLocaleTimeString();
				var date = d.toLocaleDateString('de-DE', options);
                document.getElementById('time').innerHTML = time + " - " + date;
            }, 1000)

        </script>
		
    </body>
</html>

<!--

    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[     CODE THE WEB     ]:::::]
    [:::::[  http://brackets.io  ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]

-->